@import url('https://cdn.jsdelivr.net/npm/dseg@0.46.0/css/dseg.min.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  background-color: #c6c6c6;
  border: outset 10px rgb(220 220 220);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 333px;
  height: 79px;
  border: inset 8px white;
}

.num{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: url('https://raw.githubusercontent.com/Ringo37/minesweeper/main/src/assets/images/icons.png')
    no-repeat;
  background-color: #c6c6c6;
  border: solid 1.5px #898989;
}

.game {
  width: 331px;
  height: 331px;
  border: inset 8px white;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
  background-color: #c6c6c6;
}

.tile{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #c6c6c6;
  border: outset 5px white;
}

.flag {
  display: flex;
  width: 25px;
  height: 25px;
  background: url('https://raw.githubusercontent.com/Ringo37/minesweeper/main/src/assets/images/icons.png')
    no-repeat;
  background-size: 325px;
}

.face {
  display: flex;
  width: 50px;
  height: 50px;
  background: url('https://raw.githubusercontent.com/Ringo37/minesweeper/main/src/assets/images/icons.png')
    no-repeat;
  background-size: 560px;
  border: outset 5px white;
}

.face:active {
  border: outset 5px #898989;
}

.count {
  display: grid;
  place-items: center;
  width: 85px;
  height: 50px;
  font-family: 'DSEG7-Classic-MINI', sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: red;
  letter-spacing: 0;
  background-color: black;
  border: inset 5px white;
}

.timer {
  display: grid;
  place-items: center;
  width: 85px;
  height: 50px;
  font-family: 'DSEG7-Classic-MINI', sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: red;
  letter-spacing: 0;
  background-color: black;
  border: inset 5px white;
}

.level {
  display: flex;
  width: 80px;
  height: 30px;
  border: 5px black;
}

.levels{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 900px;
  height:30px;
  margin-bottom: 5px;
}