.container {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-top: 5px solid #fff;
  border-right: 5px solid #eee;
  border-left: 5px solid #ccc;
  border-bottom: 5px solid #bbb;
}

.containerBorder {
  display: flex;
  height: 280px;
  width: 280px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #eee;
  border-right: 5px solid #ccc;
  border-top: 5px solid #bbb;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: rgb(136 136 136);
}

.picture {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png');
}

.cell {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(85 85 85);
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -60px;
}

.stone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ddd;
  border-top: 5px solid #fff;
  border-right: 5px solid #eee;
  border-left: 5px solid #ccc;
  border-bottom: 5px solid #bbb;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}

.footer > a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

.title > a {
  color: #0070f3;
  text-decoration: none;
}

.title > a:hover,
.title > a:focus,
.title > a:active {
  text-decoration: underline;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.code {
  padding: 0.75rem;
  font-family: Menlo, 'Monaco, Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 1.1rem;
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

@media (width <= 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}

.card {
  width: 45%;
  padding: 1.5rem;
  margin: 1rem;
  color: inherit;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card > h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.card > p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
